

services:
  snipe-it:
    image: snipe/snipe-it:v6.3.3  # Pinned version for stability
    container_name: snipe-it
    ports:
      - "8000:80"
    depends_on:
      - snipe-mysql
    environment:
      - APP_URL=http://localhost:8000
      - APP_KEY=base64:rt+ilvwvvmMkvxnqxllV+BfQpfzJiGHvw1HSCNsyMLU= # Replace later
      - APP_DEBUG=false
      - DB_CONNECTION=mysql
      - DB_HOST=snipe-mysql
      - DB_DATABASE=snipeit
      - DB_USERNAME=snipeit
      - DB_PASSWORD=snipeit
    volumes:
      - snipe-vol:/var/lib/snipeit

  snipe-mysql:
    image: mysql:5.7 # Less RAM usage than MySQL 8
    container_name: snipe-mysql
    environment:
      - MYSQL_DATABASE=snipeit
      - MYSQL_USER=snipeit
      - MYSQL_PASSWORD=snipeit
      - MYSQL_ROOT_PASSWORD=root
    volumes:
      - db-vol:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password

volumes:
  snipe-vol:
  db-vol: