# This Docker Compose file is configured for local development of Snipe-IT.
# It is based on the official Snipe-IT Docker repository documentation.
# https://github.com/snipe/snipe-it-docker

version: '3'

services:
  snipe-it:
    image: snipe/snipe-it:latest
    container_name: snipe-it
    depends_on:
      - snipe-it-db
    ports:
      - "8080:80"
    environment:
      - MYSQL_PORT_3306_TCP_ADDR=snipe-it-db
      - MYSQL_PORT_3306_TCP_PORT=3306
      - MYSQL_DATABASE=snipeit
      - MYSQL_USER=snipeit
      - MYSQL_PASSWORD=password # Change this for production
      - APP_ENV=development
      - APP_DEBUG=true
      - APP_KEY=base64:+KYcc42lLwvoOGoBnhMaZI4jet87x4dgcM+TzjCWNc0= # Run 'php artisan key:generate --show' to get a key
      - APP_URL=http://localhost:8080
      - APP_TIMEZONE=America/Chicago
      - APP_LOCALE=en
    volumes:
      - snipe-it-data:/var/lib/snipeit

  snipe-it-db:
    image: mysql:5.7
    container_name: snipe-it-db
    ports:
      - "3306:3306"
    environment:
      - MYSQL_DATABASE=snipeit
      - MYSQL_USER=snipeit
      - MYSQL_PASSWORD=password # Change this for production
      - MYSQL_ROOT_PASSWORD=supersecret # Change this for production
    volumes:
      - snipe-it-db-data:/var/lib/mysql

volumes:
  snipe-it-data:
  snipe-it-db-data:
