# This Docker Compose file is configured for local development of Snipe-IT.
# It is based on the official Snipe-IT Docker repository documentation.
# https://github.com/snipe/snipe-it-docker

services:
  snipe-it:
    image: snipe/snipe-it:latest
    container_name: snipe-it
    depends_on:
      - snipe-it-db
    ports:
      - "8080:80"
    env_file:
      - .env
    volumes:
      - snipe-it-data:/var/lib/snipeit

  snipe-it-db:
    image: mysql:5.7
    container_name: snipe-it-db
    ports:
      - "3306:3306"
    env_file:
      - .env
    volumes:
      - snipe-it-db-data:/var/lib/mysql

volumes:
  snipe-it-data:
  snipe-it-db-data:
